{% extends "templates/structure.html" %}

{% block header-content %}
      <div class="widewrapper masthead">
        <div class="container">
          <a href="{{ page-data.base-path }}/" id="logo">
          {% block content-title %}
            <img src="{{ page-data.base-path }}/img/logo-3-long-small.png" alt="Forgotten Roads Blog">
            {% block content-subtitle %}
            {{subtitle}}
            {% endblock %}
          {% endblock %}
          </a>

          <div id="mobile-nav-toggle" class="pull-right">
            <a href="#" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
              <i class="fa fa-bars"></i>
            </a>
          </div>

          <nav class="pull-right tales-nav">
            <div class="collapse navbar-collapse">
              <ul class="nav nav-pills navbar-nav navbar-right">

                <li class="{% ifequal page-data.active page-data.archives %}active{% endifequal %}">
                  <a href="{{ page-data.base-path }}/archives/">Archives</a>
                </li>
                <li class="{% ifequal page-data.active page-data.categories %}active{% endifequal %}">
                  <a href="{{ page-data.base-path }}/categories/">Categories</a>
                </li>
                <li class="{% ifequal page-data.active page-data.tags %}active{% endifequal %}">
                  <a href="{{ page-data.base-path }}/tags/">Tags</a>
                </li>
                <li class="{% ifequal page-data.active page-data.authors %}active{% endifequal %}">
                  <a href="{{ page-data.base-path }}/authors/">Authors</a>
                </li>
                <li class="{% ifequal page-data.active page-data.about %}active{% endifequal %}">
                  <a href="{{ page-data.base-path }}/about.html">About</a>
                </li>

              </ul>
            </div>
          </nav>

        </div>
      </div>

      <div class="widewrapper subheader">
        <div class="container">
          {% block breadcrumb-content %}
          <div class="sidebar-module sidebar-module-inset">
            <ul class="social">
              <li>
                <a href="{{ page-data.base-path }}/atom.xml">
                  <i class="fa fa-feed first"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/forgottenrdsmx">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="http://github.com/forgotten-roads">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          {% endblock %}
        </div>
      </div>
{% endblock %}

{% block footer-content %}
      <div class="widewrapper footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-widget">
              <h3> <i class="fa fa-wpforms"></i>Statistics</h3>

              <span>Even we sometimes loose track of how many articles we actually have here.  This one helps:</span>

              <div class="stats">
                <div class="line">
                  <span class="counter">27</span>
                  <span class="caption">Articles</span>
                </div>
                <div class="line">
                  <span class="counter">208</span>
                  <span class="caption">Comments</span>
                </div>
                <div class="line">
                  <span class="counter">2</span>
                  <span class="caption">Authors</span>
                </div>
              </div>
            </div>

            <div class="col-md-4 footer-widget">
              <h3> <i class="fa fa-star"></i> Hall of Fame</h3>
              <ul class="tales-list">
                <li><a href="index.html">Why we Need to Encrypt All Communication</a></li>
                <li><a href="#">Selling is a Function of Design. Not Vice-Versa.</a></li>
                <li><a href="#">It’s Hard To Come Up With Dummy Titles</a></li>
                <li><a href="#">Why the Internet is Full of Cats</a></li>
                <li><a href="#">Last Made-Up Headline, I Swear!</a></li>
              </ul>
            </div>

            <div class="col-md-4 footer-widget">
              <h3> <i class="fa fa-envelope"></i>Contact Me</h3>

              <span>I'm happy to hear from my readers. Thoughts, feedback, critique - all welcome! Drop me a line:</span>

              <span class="email">
                <a href="#">jimmy@notanactualemail.com</a>, PGP key 0x5AK0BEA1
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="widewrapper copyright">
        <div class="container">
          <!--Note: Feel free to remove or change this link as you please. A link to HackerThemes is not required by any means-->
          Designed by <a href="http://hackerthemes.com" rel="nofollow">HackerThemes</a>
        </div>
      </div>
{% endblock %}

{% block post-scripts %}
    <script src="{{ page-data.base-path }}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ page-data.base-path }}/assets/modernizr/modernizr-custom.js"></script>
{% endblock %}
