<!DOCTYPE html>
<html>
  <head>
    <title>Forgotten Roads MX - Google Maps - KML</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map" style="height: 100%"></div>
    <script>
      function initMap() {
        var mapElement = document.getElementById('map');
        var mapOptions = {
          center: {lat: {{ map-data.starting-lat }}, lng: {{ map-data.starting-long }} },
          zoom: {{ map-data.starting-zoom }},
          disableDefaultUI: {{ map-data.disable-map-gui }},
          styles: {{ map-data.style-json|safe }}
        };
        var map = new google.maps.Map(mapElement, mapOptions);
        var kmlOptions = {
          preserveViewport: false,
          map: map
        };
        var kmlSrc = 'http://forgotten.roads.mx{{ map-data.gis-base }}{{ map-data.kml-file }}?rev={{ map-data.revision }}';
        var kmlLayer = new google.maps.KmlLayer(kmlSrc, kmlOptions);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnCHagOgpmmE11nTCf9k99gZq6a3aLgnw&callback=initMap"
    async defer></script>
  </body>
</html>
